.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0.5rem;
  padding: 0.5rem;
}

.day {
  cursor: pointer;
}

.today {
  background-color: darkblue;
  border-radius: 4px;
  padding: 2px;
}